In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import torch
import sklearn as sklearn

In [4]:
raw_data = pd.read_csv('./archive/Loan_status_2007-2020Q3.csv', low_memory=False)

KeyboardInterrupt:

In [1]:
df = raw_data.copy()
df.drop(columns=['Unnamed: 0','url','id','zip_code','title','emp_title','inq_fi','mths_since_recent_inq', 'inq_last_6mths'], inplace = True)

NameError: name 'raw_data' is not defined

In [ ]:
df.loc[df['loan_status'] == ('Fully Paid' or 'Charged Off')]
df.isnull().mean().sort_values(ascending = False, axis = 0)*100
df.dropna(axis = 1, thresh= (1-0.5)*len(df.index), inplace= True)

In [ ]:
df

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,10+ years,RENT,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,N,N
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,< 1 year,RENT,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,N,N
2,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,10+ years,RENT,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,N,N
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,10+ years,RENT,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,N,N
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,1 year,RENT,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925488,24000.0,24000.0,24000.0,60 months,23.99%,690.30,E,E2,< 1 year,RENT,...,87.5,0.0,1.0,1.0,103322.0,60812.0,28200.0,64422.0,N,N
2925489,10000.0,10000.0,10000.0,36 months,7.99%,313.32,A,A5,10+ years,MORTGAGE,...,92.6,14.3,0.0,0.0,132303.0,55863.0,34800.0,70203.0,N,N
2925490,10050.0,10050.0,10050.0,36 months,16.99%,358.26,D,D1,8 years,RENT,...,95.2,0.0,0.0,0.0,30400.0,14300.0,9000.0,0.0,N,N
2925491,6000.0,6000.0,6000.0,36 months,11.44%,197.69,B,B4,5 years,RENT,...,94.4,0.0,0.0,0.0,47476.0,26201.0,8100.0,34076.0,N,N
2925492,30000.0,30000.0,30000.0,60 months,25.49%,889.18,E,E4,4 years,MORTGAGE,...,91.3,66.7,0.0,0.0,275706.0,75819.0,16000.0,89732.0,N,N